<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" id="background">
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h3>Forgot Password</h3>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Input Email</mat-label>
                <input matInput placeholder="Ex. email@domain.com" value="azuarok@gmail.com">
            </mat-form-field>
            <div class="uk-flex uk-flex-right">
                <div class="uk-width-expand">
                    <button mat-button routerLink="/login">Back Login</button>
                </div>
                <button mat-raised-button color="primary">RESET</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>